@font-face {
font-family: 'Scheherazade';
font-style: normal;
font-weight: normal;
src: url('Scheherazade-Regular.woff') format('woff');
}

@font-face {
font-family: 'Scheherazade Bold';
font-style: normal;
font-weight: bold;
src: url('Scheherazade-Bold.woff') format('woff');
}
